<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{name}}</h2>
            <h5>{{rollNumber}}</h5>
            <h4>{{userId}}</h4>
        </div>
        <img src="./assets/iiitb_image.jpg" alt="Khushal Abrol">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">My Couriers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/add-courier">Add Courier</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/history">Courier History</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/lost-found">Lost and Found</a>
 


    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        About
    </a>

</mat-nav-list>