<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQEm8hjgZMLbtg/profile-displayphoto-shrink_800_800/0/1626720910647?e=1657756800&v=beta&t=xKMUCJ6HHXPGJ1J5MttFLxURIIhZpQGnlNg6FeNKp40" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Amit Kumar</h2>
          <p class="title">Developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFX1Ri2TL8SLg/profile-displayphoto-shrink_800_800/0/1647860156364?e=1657756800&v=beta&t=buFjAs9jmVUF2eUqYa1rPOYnJckCGyuwPtUdrl6izZE" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Jayprakash Ray</h2>
          <p class="title">Developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQE3X87ihw2C1Q/profile-displayphoto-shrink_800_800/0/1638364817426?e=1657756800&v=beta&t=NBlsCHt3OktXR2eAE0KPL8x9yZqe_PZW-64tuiCm5mc" alt="John" style="width:100%">
        <div class="container">
          <h2>Khushal Abrol</h2>
          <p class="title">Developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>