table{
    background-color: rgb(240, 248, 255, 0.5);
    width: 100%;
}

td{
    color: black;
}
.mat-header-cell{
    color: black;
}

mat-paginator {
    background-color: white;
    color: black;
}

.mat-mini-fab{
    color:"blue";
}