<div class="container">
  <div class="box-form row">
    <div class="left col-8">
      <div class="overlay">
        <h1>Welcome to DigiCamp</h1>
        <p>DigiCamp: <i>A one stop digital campus solution</i></p>
      </div>
    </div>
    <div class="right col-4">
      <div class="row m-5">
        <h5>Login</h5>
      </div>
      <br><br><br><br>
      <div class="row m-5">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">@iiitb.ac.in</span>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <button>Login</button>
      </div>
    </div>
  </div>
</div>