<mat-toolbar color=primary>
  <mat-toolbar-row>

      <span><nav class="navbar-expand-lg">
          <div class="align-bottom">
              <img src="./../../assets/IIITB-invert-logo.png" height="60vh"><a routerLink="/home" style="text-decoration: none; color:aliceblue">
                 DigiCamp - <i style="font-size: 2vh;">Digital Campus Solutions</i>
              </a>
          </div>
      </nav>
  </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="box-form row">
    <div class="left col-8">
      <div class="overlay">
        <h1 style="font-size: 120px; margin-top: 200px;">Welcome to DigiCamp</h1>
        <p>DigiCamp: <i>A one stop digital campus solution</i></p>
      </div>
    </div>
    <div class="right col-4">
      <div class="row m-5">
        <h5>Login</h5>
      </div>
      <br>
      <div class="row m-5">
        <form #loginForm="ngForm" ngNativeValidate>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username"  ngModel id="userId" name="userId" required>
          <div class="input-group-append">
            <!-- <span class="input-group-text" id="basic-addon2">@iiitb.ac.in</span> -->
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" ngModel name="userPassword" id="userPassword" required>
        </div>
      </form>
      </div>
      <div class="row m-5">
        <button (click)="login(loginForm)">Login</button>
        <span routerLink="/signup">SignUp instead?</span>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>