.logo {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    color: white;
    margin-bottom: 30px;
}
.logo img {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translate(-1%,-50%);
    -ms-transform: translateX(-1%) translateY(-50%);
    -webkit-transform: translate(-1%,-50%);
    font-size: 1.5em;
    font-weight: 100;
    text-transform: uppercase;
}

/* .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
   */