<div class="container" style="margin: 10% auto; width: 20%;"> 
      <div class="logo">
        <img src="../../assets/iiitb_logo.png" class="logo img-fluid" alt="IIITB Logo">
      </div>
      <form>
        <div class="form-floating mb-4">
          <input type="number" ngModel id="userId" name="userId" class="form-control form-control-lg"
            placeholder="User ID" required />
          <label class="form-label" for="userId">User ID</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" ngModel name="userPassword" id="userPassword" class="form-control form-control-lg"
            placeholder="Password" required />
          <label class="form-label" for="userPassword">Password</label>
        </div>
        <div class="text-center text-lg-start mt-4 pt-2">
          <input type="submit" value="Login" class="btn btn-primary form-control rounded-0">
        </div>
      </form>
      <div class="container">
        <h5 style="color: red; margin: 40px;">{{msg}}</h5>
      </div>
</div>