<!-- <button mat-button (click)="getInfo()"> -->
  <!-- <mat-card class="card"> -->
    <!-- <mat-card-header> -->
      <div class="row text-center m-2">
        <mat-card-title>{{item.itemName}} &nbsp; <mat-chip style="background-color: red;" *ngIf="item.lostOrFound==0" color="accent">Lost</mat-chip><mat-chip style="background-color: green;" *ngIf="item.lostOrFound==1" color="accent">Found</mat-chip></mat-card-title>
      </div>
      <div class="row m-2">
        <img mat-card-image src="../../../../assets/oppo-mobile-a9-2020-500x500.jpg"  height="300vh" alt="Photo of {{item.itemName}}">
      </div>
      <div class="row">
        <mat-card-subtitle><span *ngIf="item.lostOrFound==0">Lost</span><span *ngIf="item.lostOrFound==1">Found</span> Near: {{item.foundAt}} </mat-card-subtitle>

      </div>
    <!-- </mat-card-header> -->
    <!-- <img mat-card-image [src]="item.itemImage" alt="Photo of {{item.itemName}}"> -->
<mat-chip-list></mat-chip-list>
    <div><b>Found On:</b> {{date}}</div>
    <div><b>Found At:</b> {{item.foundAt}}</div>
    <div><b>Collect From:</b> {{item.collectFrom}}</div>
    <p>{{item.remarks}}</p>
  <!-- </mat-card> -->
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
<!-- </button> -->