<div class="container">
  <div class="row m-1 text-center">
    <mat-card-title>{{item.itemName}} &nbsp; <mat-chip style="background-color: red;" *ngIf="item.lostOrFound==0" color="accent">Lost</mat-chip><mat-chip style="background-color: green;" *ngIf="item.lostOrFound==1" color="accent">Found</mat-chip></mat-card-title>
  </div>
  <div class="row m-1">
    <img mat-card-image src="../../../../assets/oppo-mobile-a9-2020-500x500.jpg"  height="300vh" alt="Photo of {{item.itemName}}">
  </div>
  <div class="row m-1">
    <div *ngIf="item.lostOrFound==0">
      <div><b>Lost On:</b> {{date}}</div>
      <div><b>Lost Near:</b> {{item.foundAt}}</div>
      <p>{{item.remarks}}</p>
    </div>
    <div *ngIf="item.lostOrFound==1">
      <div><b>Found On:</b> {{date}}</div>
      <div><b>Found At:</b> {{item.foundAt}}</div>
      <div><b>Collect From:</b> {{item.collectFrom}}</div>
      <p>{{item.remarks}}</p>
    </div>
  </div>
</div>
<mat-chip-list></mat-chip-list>