<div class="card mat-elevation-z9">
  <div class="image" style="overflow: hidden;">
    <img (click)="zoomImage()" src="{{item.itemImage}}" onerror="this.onerror=null; this.src='https\://firebasestorage.googleapis.com/v0/b/digicamp-backend.appspot.com/o/Image_not_available.png?alt=media&token=0069c06d-c020-4014-8667-ff11ac92c431'" class="img-fluid" height="300px" width="100%"/>
  </div>
  <div class="head">
    <h3 class="card-title"><b>{{item.itemName}}</b><mat-chip style="background-color: red;" *ngIf="item.lostOrFound==0">Lost
    </mat-chip>
    <mat-chip style="background-color: green;" *ngIf="item.lostOrFound==1" color="accent">Found</mat-chip>
  </h3>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-8">
        <p class="card-text">
        <div><b>Found On:</b> {{date}}</div>
        <div><b>Found At:</b> {{item.foundAt}}</div>
        <div><b>Collect From:</b> {{item.collectFrom}}</div>
      </div>
      <div class="col-4">
        <a class="collect-btn btn btn-primary" (click)="collectItem()">Collect</a>
      </div>
    </div>
    <div>
      <p>{{item.remarks}}</p>
    </div>
  </div>




  <!-- <div class="container" style="height: fit-content; margin-top: 50px;">
    <img (click)="zoomImage()" src="{{item.itemImage}}" onerror="this.onerror=null; this.src='https\://firebasestorage.googleapis.com/v0/b/digicamp-backend.appspot.com/o/Image_not_available.png?alt=media&token=0069c06d-c020-4014-8667-ff11ac92c431'" class="img-fluid" height="300px" width="100%"/>
  </div>

  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{item.itemName}} <mat-chip style="background-color: red;" *ngIf="item.lostOrFound==0">Lost
      </mat-chip>
      <mat-chip style="background-color: green;" *ngIf="item.lostOrFound==1" color="accent">Found</mat-chip>
    </h5>
    <div class="row">
      <div class="col-8">
        <p class="card-text">
        <div><b>Found On:</b> {{date}}</div>
        <div><b>Found At:</b> {{item.foundAt}}</div>
        <div><b>Collect From:</b> {{item.collectFrom}}</div>
      </div>
      <div class="col-4">
        <a class="collect-btn btn btn-primary" (click)="collectItem()">Collect</a>
      </div>
    </div>
    <div>
      <p>{{item.remarks}}</p>
    </div>
    
  </div> -->
  <mat-chip-list>
  </mat-chip-list>
</div>