
  <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="packageNumber">
          <th mat-header-cell *matHeaderCellDef> Package ID </th>
          <td mat-cell *matCellDef="let row"> {{row.packageNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="OrderId">
          <th mat-header-cell *matHeaderCellDef> orderId </th>
          <td mat-cell *matCellDef="let row"> {{row.orderId}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Owner Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <ng-container matColumnDef="Courier">
          <th mat-header-cell *matHeaderCellDef> courier </th>
          <td mat-cell *matCellDef="let row"> {{row.courier}} </td>
        </ng-container>
        <ng-container matColumnDef="DeliveryDate">
          <th mat-header-cell *matHeaderCellDef> Receiving On </th>
          <td mat-cell *matCellDef="let row"> {{row.receivingDate}} </td>
        </ng-container>

        <ng-container matColumnDef="pickedBy">
          <th mat-header-cell *matHeaderCellDef> Picked By </th>
          <td mat-cell *matCellDef="let row"> {{row.pickedBy}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns:columns;"></tr>

  </table>

