<div class="container">
  <h2>Enter details of the item you found:</h2>
  <form #foundForm="ngForm">
    <div class="row m-2">
      <div class="form-group col-6">
        <label for="name">Item Name:</label>
        <input type="text" class="form-control" id="name" ngModel name="name" placeholder="Name">
      </div>
      <div class="form-group col-6">
        <label for="foundAt">Found Near:</label>
        <input type="text" class="form-control" id="foundAt" ngModel name="foundAt" placeholder="Place">
      </div>
    </div>
    <div class="row m-2">
      <div class="form-group col-6">
        <label for="name">When is it Found:</label>
        <input type="date" class="form-control" id="date" ngModel name="date">
      </div>
      <div class="form-group col-6">
        <label for="collectFrom">Collect From:</label>
        <input type="text" class="form-control" id="collectFrom" ngModel name="collectFrom"
          placeholder="Collection From">
      </div>
    </div>
    <div class="row m-2">
      <div class="form-group">
        <label for="remark">Item Details and Remarks</label>
        <input type="text" class="form-control" id="remark" ngModel name="remark" placeholder="Remark">
      </div>
    </div>
    <div>
      <div class="row m-2">
        <div class="form-group">
          <label for="image">Upload Image</label>
        </div>
        <div class="form-group">
          <img [src]="imagePath" height="200px">
          <label>
            <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" />
          </label>
        </div>
      </div>
    </div>
    <div class="row m-2">
      <button mat-raised-button color="primary" (click)="submitFound(foundForm)">Submit</button>
      <div *ngIf="currentFileUpload" class="progress mt-2">
        <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
          {{ percentage }}%
        </div>
      </div>
    </div>
  </form>
</div>