<div class="flex-container" >
    <div>
      <a routerLink="/package">
        <mat-card class="package-card">
            <mat-card-header>
              <mat-card-title>Package Tracker</mat-card-title>
              <mat-card-subtitle>Track your courier Package</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://cdn2.vectorstock.com/i/1000x1000/36/16/cartoon-delivery-courier-holding-cardboard-boxes-vector-24043616.jpg" alt="Package Tracker"> -->
            <mat-card-content>
              <p>
                Take Package
              </p>
            </mat-card-content>
        </mat-card>
        </a>
    </div>
    <div>
      <a routerLink="/lost-found">
      <mat-card class="lost-found-card">
          <mat-card-header>
            <mat-card-title>Lost & Found</mat-card-title>
            <mat-card-subtitle>Track your lost Items</mat-card-subtitle>
          </mat-card-header>
          <!-- <img mat-card-image src="https://cdn2.vectorstock.com/i/1000x1000/36/16/cartoon-delivery-courier-holding-cardboard-boxes-vector-24043616.jpg" alt="Package Tracker"> -->
          <mat-card-content>
            <p>
              Take/Add Item
            </p>
          </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>