<a routerLink="/package">
<div class="flex-container" >
    <div>
        <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>Package Tracker</mat-card-title>
              <mat-card-subtitle>Track your courier Package</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://cdn2.vectorstock.com/i/1000x1000/36/16/cartoon-delivery-courier-holding-cardboard-boxes-vector-24043616.jpg" alt="Package Tracker">
            <mat-card-content>
              <p>
                Take Package
              </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
</a>